<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>coolweb</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" media="all">

</head>

<body>
    <header>
        <div class="flexone">
            <img src="/images/logo.png" alt="logo" width="150px" height="150px;">
        </div>
        <div class="flextwo">
            <hgroup>
                <h1 class="glow">THE STORY OF MY LIFE</h1>
                <h2>Royalty Never Dies</h2>
            </hgroup>
        </div>
        <div class="flexthree">
            <button id="modal-btn" onclick="openModal()" class="button">SignIn</button>
            <!-- <div class="Logout">
                <a class=active href="home.html">Logout</a>
            </div> -->
            <div id="my-modal" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="closeModal()">&times;</span>
                        <h2>SignIN with Social Networks</h2>
                    </div>
                    <div class="modal-body">
                        <button id="Signin-btn" class="SigninBtn" onclick="">SignIN with Google +</button>

                    </div>

                </div>
            </div>
        </div>
    </header>



    <nav>

        <div class="dd">
            <button class="ddBtn">MENU</button>
            <div class="ddlist">
                <a href="#">list item 1</a>
                <a href="#">list item 2</a>
                <a href="#">list item 3</a>
                <a href="#">list item 4</a>
                <a href="#">list item 5</a>
            </div>
        </div>
        <div class="nav">
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="Page2.html">Page 2</a></li>
                <li><a href="Page3.html">Page 3</a></li>
                <li><a href="Page4.html">Page 4</a></li>
                <li><a href="about us.html">about us</a></li>
                <li><a href="contact.html">contact</a></li>
            </ul>

    </nav>

    <h3>Chapter-1</h3>
    <section>
        <div class="section2">

            <img src="/images/hameed edits.jpg" alt="image" width="320px" height="180px">
            <p>These happy days did not last long. One briefspring, musical with the song of robin and mockingbird, one
                summer rich in fruit and roses, one autumn of gold and crimson sped by and left their gifts
                at the feet of an eager, delighted child. Then, in the dreary month of February, came the illness which
                closed my eyes and ears and plunged me into the unconsciousness of a new-born baby. They called
                it acute congestion of the stomach and brain. The doctor thought I could not live. Early one morning,
                however, the fever left me as suddenly and mysteriously as it had come. There was great rejoicing in
                the family that morning, but no one, not even the doctor, knew that I should never see or hear again.
            </p>
            <p>My Grandmother Keller was a daughter of one of Lafayette's aides, Alexander Moore, and
                granddaughter of Alexander Spotswood, an early Colonial Governor of Virginia. She was also
                second cousin to Robert E. Lee.
            </p>
            <p>My Grandmother Keller was a daughter of one of Lafayette's aides, Alexander Moore, and
                granddaughter of Alexander Spotswood, an early Colonial Governor of Virginia. She was also
                second cousin to Robert E. Lee.
            </p>
        </div>
        <div class="section1">
            <h4>Attitude is every thing:</h4>

            <img src="images/sketch.jpg" alt="image" width="250px" height="180px">
            <p>It is with a kind of fear that I begin to write the history of my life. I have, as it were, a
                superstitious
                hesitation in lifting the veil that clings about my childhood like a golden mist. The task of writing an
                autobiography is a difficult one. When I try to classify my earliest impressions, I find that fact and
                fancy look alike across the years that link the past with the present. The woman paints the child's
                experiences in her own fantasy. A few impressions stand out vividly from the first years of my life;
                but "the shadows of the prison-house are on the rest." Besides, many of the joys and sorrows of
                childhood have lost their poignancy; and many incidents of vital importance in my early education
                have been forgotten in the excitement of great discoveries. In order, therefore, not to be tedious I
                shall try to present in a series of sketches only the episodes that seem to me to be the most
                interesting and important.
            </p>

            <p>The family on my father's side is descended from Caspar Keller, a native of Switzerland, who
                settled in Maryland. One of my Swiss ancestors was the first teacher of the deaf in Zurich and wrote
                a book on the subject of their education—rather a singular coincidence; though it is true that there is
                no king who has not had a slave among his ancestors, and no slave who has not had a king among
                his.
            </p>
            <p>They tell me I walked the day I was a year old. My mother had just taken me out of the bath-tub
                and was holding me in her lap, when I was suddenly attracted by the flickering shadows of leaves
                that danced in the sunlight on the smooth floor. I slipped from my mother's lap and almost ran toward
                them. The impulse gone, I fell down and cried for her to take me up in her arms.
            </p>
        </div>


    </section>

    <footer>copyright © sk.hameed098@gmail.com
        <a href="https://www.google.com/">go to google </a>

    </footer>
    <script src="js/index.js" type="text/javascript"></script>


</body>

</html>